<footer class="mdl-mini-footer">
    <div class="mdl-mini-footer__left-section">
        <div class="mdl-logo">fraeon.com</div>
    </div>
    <div class="mdl-mini-footer__right-section">
      <button class="mdl-mini-footer--social-btn social-btn social-btn__gplus">
        <span class="visuallyhidden">Google Plus</span>
      </button>
      <button class="mdl-mini-footer--social-btn social-btn social-btn__youtube">
        <span class="visuallyhidden">YouTube</span>
      </button>
      <button class="mdl-mini-footer--social-btn social-btn social-btn__share">
        <i class="material-icons" role="presentation">share</i>
        <span class="visuallyhidden">share</span>
      </button>
    </div>
</footer>
