<header class="mdl-layout__header">
  <div class="mdl-layout__header-row">
    <!-- Title -->
    <span class="mdl-layout-title">
      <a href="/">
        <img class="headerlogo" src="/images/logo.svg" alt="fraeon logo"/>
      </a>
    </span>
    <!-- Add spacer, to align navigation to the right -->
    <div class="mdl-layout-spacer"></div>
    <!-- Navigation. We hide it in small screens. -->
    <nav class="mdl-navigation mdl-layout--large-screen-only">
      <div class="mdl-textfield mdl-js-textfield mdl-textfield--expandable mdl-textfield--floating-label">
        <label class="mdl-button mdl-js-button mdl-button--icon" for="site-search">
          <i class="material-icons">search</i>
        </label>
        <div class="mdl-textfield__expandable-holder">
          <input class="mdl-textfield__input" type="text" name="sample" id="site-search">
        </div>
      </div>
      <a class="mdl-navigation__link header-main-link" href="">Welcome</a>
    </nav>
  </div>
</header>
<div class="mdl-layout__drawer">
  <span class="mdl-layout-title"><img class="headerlogo" src="/images/logo.svg" alt="fraeon logo"/></span>
  <nav class="mdl-navigation">
    <a class="mdl-navigation__link header-nav-link" href="/">Home</a>
    <a class="mdl-navigation__link header-nav-link" href="/">Gaming</a>
    <a class="mdl-navigation__link header-nav-link" href="/">Tech</a>
  </nav>
</div>
